﻿<!DOCTYPE html>
<html>
<head>
    <title>Alarm</title>
    <meta http-equiv="refresh" content="90" />
</head>
<body>
    <h1>Alarm status</h1>
    <table>
        @{
            foreach (var status in ViewData["statuses"] as List<AlarmStatus>)
            {
        <tr>
            <td>@status.Status</td>
            <td></td>
            <td>@status.Date</td>
        </tr>
            }
        }
    </table>
    <a asp-action="GetStatus">Get Status</a>
    <a asp-action="StartAlarm">Start Alarm</a>
    <a asp-action="StopAlarm">Stop Alarm</a>
</body>
</html> 